html {
    background-color: black;
    color: white;
    overflow-y: scroll;
    font-family: 'IBM Plex Mono', monospace; /* tag html link a google font <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet"> */
}

h1 {
    font-size: 22pt;
    line-height: 22pt;
    text-align: left;
    font-weight: normal;
    margin: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

em {
    font-size-adjust: 18pt;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
}

p {
/*  font-size: 2vh;
    line-height: 2.6vh; valori in percentuale, nel caso servissero */ 
    font-size: 12pt;
    line-height: 15pt;
}

/*
a:link {
    color: white;
    text-decoration: none;
}
    
a:hover {
    color: red;
    text-decoration: none;
}
    
a:active {
    color: red;
    text-decoration: none;
}
    
a:visited {
    color: white;
    text-decoration: none;
}
*/

#menu {
    width: 100%;
    height: 14vh;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}

.centro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#menu-home {
    width: 80%;
    margin-top: 80vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu-home {
    display: inline-table;
    animation-name: comparsa;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.vocemenu-home {
    display: inline;
    font-size: 14pt;
    line-height: 14pt;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.vocemenu-home a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

.vocemenu-home a:link, a:visited {
    color: white;
}

.vocemenu-home a:hover, a:active {
    font-weight: bold;
    border: 0;
}

.titolo-home {
    font-family: Economica;
    text-align: center; 
    font-size: 48pt; 
    line-height: 48pt; 
    top: 40%; 
    left: 50%; 
    position: absolute; 
    transform: translate(-50%, -50%);
    animation-name: comparsa;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes comparsa {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

.titolo {
    position: fixed;
    margin-top: 10vh;
    margin-left: 5vw;
    transform: translateY(-30pt);
    z-index: 1;
    font-family: Economica;
    font-size: 30pt;
}

.titolo a:link, a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
    border: 0;
}

.titolo a:active {
    color: white;
}

.vocemenu {
    list-style-type: none;
    margin-top: 10vh;
    right: 5vw;
    position: relative;
    display: inline-block;
    float: right;
    padding-left: 4vw;
    font-family: monospace;
    font-size: 14pt;
    line-height: 14pt;
    text-align: right;
    transform: translateY(-20pt);
}

.vocemenu a:link, a:visited {
    color: white;
    text-decoration: none;
    border: 0;
}

.vocemenu a:hover, a:active {
    text-decoration: none;   
    color: white;
    font-weight: bolder;
    border: 0;
}

.vocemenu-paginacorrente a:link, a:visited {
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-bottom-color: white;    
}

.vocemenu-paginacorrente a:hover, a:active {
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-bottom-color: white;  
}

.paragrafo {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 15vh;
    text-align: justify;
    overflow: auto; /* il paragrafo dipende dalla dimensione dell'immagine */
}

.paragrafo-band {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;   
    text-align: justify;
}

.paragrafo-primo {
    margin-top: 20vh;
}

.paragrafo-ultimo {
    margin-bottom: 5vh;
}

.paragrafo-img-componenti {
    max-width: 66%;
    height: auto;
    float: left; 
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: 65vh;
    padding-right: 2vw;
    margin-bottom: 12pt;
}

.paragrafo-img-dx {
    float: right; 
    padding-right: 0;
    padding-left: 3vw;
} /* valutare se non fare tutto a sx, forse meglio mettere testo a badiera sx e foto a dx */

.nomecomponente {
    background-color: white;
    color: black;
    padding: 2vh;
    text-align: left;
    box-shadow: -10px 10px darkgrey;
    text-transform: uppercase;
    margin-bottom: 15pt;
}

.nomecomponente2 {
    box-shadow: 10px 10px darkgrey;
}

#bandgallery {
    width: 100%;
    max-height: 65vh;
    overflow-x: hidden;
}

.img-band {
    display: block;
    max-height: 65vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}


.freccia {
    width: 5vh;
    height: 5vh;
    top: 33vh;
    position: absolute;
    color: white;
    z-index: 1;
    padding: 5vw;
}

#freccia-sx {
    left: 12vw;
    padding-left: 0;
}

#freccia-dx {
    right: 13vw;
    padding-right: 0;
}

.musica-titoli {
    text-align: center;
    margin-bottom: 2vh;
}

.footer {
    text-align: center;
    font-size: 10pt;
}

.contatti a:link, a:visited {
    color: white;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

.contatti a:hover, a:active {
    color: red;
}

ul {
    list-style: none;
}

#elencovideo {
    left: 80%;
    width: 20%;
    float: right;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 5vh;
    background-color: white;
    color: black;
    padding: 2vh;
    text-align: left;
    box-shadow: -10px 10px darkgrey;
}

.elencovideo-voci {
    margin-bottom: 12pt;
    border: solid white 5px;
}

.elencovideo-voci:hover {
    background-color: lightgray;
}

.elenco-riproduzione {
    color: black;
    box-shadow: -5px 0px grey;
}

.boxvideo {
    background-color: rgb(15, 15, 15);    width: 75%;
    height: auto;
    max-height: 65vh;
    left: 0;
    margin: 0;
}

.audiotovideo {
    width: 75%;
    height: 60%;
    position: relative; 
    margin: auto; 
    color: white; 
    font-family: Economica; 
    font-size: 36pt;
    text-align: center;
    content: "Mountain Song";
}

.galleria0 {
    width: 0%;
    height: 0%;
    left: -100px;
    position: absolute;
}

#boxcontatti {
    max-width: 70%;
    margin-right: 5%;
    float: left;
}

#contatti {
    background-color: black;
    opacity: 0.8;
    top: 22%;
    position: absolute;
    margin-left: 2vh;
    height: 50%;
    padding: 2.5vh;
}

.fotocontatti {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

#elencoconcerti {
    max-width: 25%;
    padding-left: -20px;
    float: right;
    padding: 0;
    margin: 0;
}

.concerto {
    max-width: 100%;
    background-color: white;
    color: black;
    margin-left: 0;
    padding: 2vh;
    margin-bottom: 5vh;
    text-align: left;
    box-shadow: -10px 10px darkgrey;
    overflow: visible;
}

.vocicontatti {
    margin-bottom: 3vh;
    margin-left: 0;
    padding: 0;
    font-size: 10pt;
}

.fb::before {
    content: url(img/fb.png);
}

.v-m::before {
    content: url(img/v-m.png);
}

.tel::before {
    content: url(img/tel.png);
}

.mail::before {
    content: url(img/mail.png);
}
